Our first GWP starts from here!

In [17]:
import datetime

import numpy as np
import pandas as pd
import pandas_datareader.data as web
import seaborn as sns
import yfinance as yfin
import quandl as qd
from scipy import stats

yfin.pdr_override()

In [60]:
# Setting the timeframe for the data
start_date = datetime.date(2023, 1, 1)
end_date = datetime.date(2023, 12, 31)

# Treasury Yield 30 Years
bond_price = pd.DataFrame(web.DataReader('^TYX', start_date, end_date)["Adj Close"])
bond_return = bond_price.pct_change().dropna()
bond_return = bond_return.rename(columns={"Adj Close": "Bond"})

print(bond_return.head())

[*********************100%%**********************]  1 of 1 completed

                Bond
Date
2023-01-04 -0.018752
2023-01-05 -0.005759
2023-01-06 -0.027909
2023-01-09 -0.011376
2023-01-10  0.029315

In [93]:
qd.ApiConfig.api_key = 'qQe_PTGQRatZoLWNRbKa'

# Home value in Wenatchee
# real_estate_indicator = qd.get_table('ZILLOW/INDICATORS')
real_estate_price = qd.get_table('ZILLOW/DATA',indicator_id=['ZALL'], region_id = '99999').sort_values(by = 'date').reset_index(drop = True)
real_estate_price['change'] = real_estate_price['value'].pct_change()
real_estate_price.dropna(inplace = True)
print(real_estate_price)
# print(real_estate_indicator)

    indicator_id region_id       date          value    change
1           ZALL     99999 2005-02-28  166047.000000 -0.000427
2           ZALL     99999 2005-03-31  166757.000000  0.004276
3           ZALL     99999 2005-04-30  168061.000000  0.007820
4           ZALL     99999 2005-05-31  170799.000000  0.016292
5           ZALL     99999 2005-06-30  173373.000000  0.015070
..           ...       ...        ...            ...       ...
222         ZALL     99999 2023-07-31  475006.583756  0.000417
223         ZALL     99999 2023-08-31  473796.644134 -0.002547
224         ZALL     99999 2023-09-30  471415.057884 -0.005027
225         ZALL     99999 2023-10-31  468537.272405 -0.006105
226         ZALL     99999 2023-11-30  465555.180963 -0.006365

[226 rows x 5 columns]